[project]
	description = Analyze twitter streams to do sentimental analysis
[access "refs/*"]
	owner = group user/Subhobrata Dey (sbcd90)
[access "refs/for/refs/*"]
	read = group user/Subhobrata Dey (sbcd90)
	push = group user/Subhobrata Dey (sbcd90)
	label-Code-Review = -2..+2 group user/Subhobrata Dey (sbcd90)
	label-Verified = -1..+1 group user/Subhobrata Dey (sbcd90)
	rebase = group user/Subhobrata Dey (sbcd90)
	removeReviewer = group user/Subhobrata Dey (sbcd90)
	submit = group user/Subhobrata Dey (sbcd90)
[access "refs/heads/*"]
	read = group user/Subhobrata Dey (sbcd90)
	create = group user/Subhobrata Dey (sbcd90)
	push = +force group user/Subhobrata Dey (sbcd90)
	pushMerge = group user/Subhobrata Dey (sbcd90)
[access "refs/tags/*"]
	push = +force group user/Subhobrata Dey (sbcd90)
	pushTag = group user/Subhobrata Dey (sbcd90)
	pushSignedTag = group user/Subhobrata Dey (sbcd90)
